html {
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url("Ecole.jpg");
  background-size: cover;
  /*A partir de la, ces code permettent au fond d'écran de ne pas loop a la fin*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-x;
  margin-left: auto;
  margin-right: auto;
  width: 67, 06vw;
  overflow: scroll;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

nav>ul li:hover .sous {
  display: flex;
  flex-flow: column wrap;
}

.sous li {
  flex: 1 1 auto;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant>a::after {
  content: " ▼";
  font-size: 12px;
}

.conteneur {
  margin: 10px 20px;
}

.fond{
float:left;
margin-right: auto;
width:16%;
height:100%;
background-color:#ffffff;
}